
    <!--breadcrumbs start-->
    <div class="breadcrumbs" style="margin-bottom:0px">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
           <marquee> ஓம் கிரிஜாய வித்மஹி 
சிவ ப்ரியயை தீமஹி 
தன்னோ துர்கா ப்ரசோதயாத்</marquee>
          </div>
          
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->
    <!-- Sequence Modern Slider -->

<style type="text/css">


/*Slider*/

  
.carousel .item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
  top: 40%;
    font-size: 6em;
    color: black;

}
/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}

/*Slider end*/

.nigalchi_div
{
  padding: 12px;
  border: 2px solid #797979;
  margin-top: 12px;
  border-radius: 12px;
  background-color: #f9f9f3;
}



</style>

<div id="myCarousel" class="carousel slide">
                  
                  <div class="carousel-inner">
                    <div class="active item">
                        <img src="template/img/parallax-slider/images/slider1.jpg" />
                    </div>
                    
                  </div>
                
                </div>

                <!-- LINKED NAV -->
                



    <div class="container">
      <div class="row mar-b-50">
        <div class="col-md-12">
          <div class="text-center feature-head wow fadeInDown">
            <h1 class="heading_main">
               "ஒம் ஆல்தரை தேவியே நமஹா!" 
            </h1>

          </div>


          <div class="feature-box">
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                <img src="template/img/1.png" alt="" width="70" height="70">

                </em>
                <h4>
                  <b></b>
                </h4>
              </div>
              <p class="mantras text-center">
                                <span> <b>ஓம் ஏக தந்த்தாய வித்மஹே  <br>
வக்ர துண்டாய தீமகி  <br>
தன்னோ தந்த் ப்ரஜோதயாத்: </b> </span>
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="template/img/2.png" alt="" width="70" height="70">
                </em>
                <h4>
                  <b></b>
                </h4>
              </div>
              <p class="mantras text-center">
                               <span> <b> ஓம் பூர்: புவ: ஸுவ: தத் ஸவிதுர் வரேண்யம்<br>பர்கோ தேவஸ்ய தீமஹி <br> த்யோ யோனக ப்ரஜோதயாத்:</b></span>

              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="template/img/3.png" alt="" width="70" height="70">
                </em>
                <h4>
                  <b></b>
                </h4>
              </div>
              <p class="mantras text-center">
               <span>
<b>
                  ஓம் கிரிஜாய வித்மஹி <br>
சிவ ப்ரியயை தீமஹி <br>
தன்னோ துர்கா ப்ரசோதயாத்
</b>
               </span>
              </p>
            </div>
          </div>

          <!--feature end-->
        </div>
      </div>
    </div>


    <!--property start-->
    <div class="property gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 text-center wow fadeInLeft" >
            <img src="template/img/aat.png" style="border-radius:18px; border: 2px solid #A80000;" alt="">
          </div>
          <div class="col-lg-6 col-sm-6 #A80000 fadeInRight">
            <h1>
                

                  கோவிலின் சிறப்பு அம்சங்கள்

            </h1>
            <hr>
           


            <p>
              <i class="fa fa-check fa-lg pr-10">
              </i>
              நமது ஆலயத்தில் துர்கை தேவி சாந்த சொரூபிணியாக ஆல்தரை அம்மன் என்ற பெயரில் பக்தர்களுக்கு அருள் பாலிக்கிறாள். கேட்ட வரங்களை வாரி வழங்குபவள் நம் ஆல்தரை தேவி . குழந்தை வரம் நாடி வருபவர்களுக்கு குழந்தை பாக்கியம் அளிப்பது தேவியின் சிறப்பு அம்சம்.  
            </p>
            <p>
              <i class="fa fa-check fa-lg pr-10">
              </i>
                நமது ஆலயம் இயற்கை ஏழில் கொஞ்சும் ஆலமர நிழலில் அமைந்துள்ளது. ஆகவே எத்தனை மன குழப்பத்துடன் நம் கோவிலுக்கு வந்தாலும் , சிறிது நேரம் ஆலமர நிழலில் அமர்ந்து தேவியை தியானித்தால் மனகுழப்பங்கள் நீங்கி மனநிம்மதி கிடைக்கும் 
            </p>
             <p>
              <i class="fa fa-check fa-lg pr-10">
              </i>
                நமது ஆலயத்தில் மாதம் தூறும் கடைசி வெள்ளிக்கிழமை காலை  முதல்  மணி வரை நடைபெறும் ராகு கால துர்கா பூஜையில் கலந்து கொள்ளும் பெண்களுக்கு திருமண தடை அகலும்  
            </p>


             <p>
              <i class="fa fa-check fa-lg pr-10">
              </i>
              வாரந்தோறும் நடைபெறும் லலிதா சகஸ்ர நாம அர்ச்சனையில் கலந்து கொண்டு அம்பிகையின் ஆயிரம் நாமங்களை படித்து அர்ச்சனை செய்தால் நாம் நினைத்த கார்யம் நிறைவேறும் 
            </p>
            
            <p>
              <i class="fa fa-check fa-lg pr-10">
              </i>
              நம் ஆலயம் NH-47 நெடுஞ்சாலையில் அமைந்துள்ளதால் அனைவரும் வந்து வழிபட்டு செல்ல போக்குவரத்திர்க்கு வசதியாக உள்ளது 
            </p>




            <hr>
            <!-- <a href="javascript:;" class="btn btn-purchase">
              Purchase now
            </a> -->
          </div>
        </div>
      </div>
    </div>
    <!--property end-->

    <div class="container">

      <div class="row mar-b-60">
        <div class="col-lg-6">
          <!--tab start-->
          <section class="tab wow fadeInLeft">
            <header class="panel-heading tab-bg-dark-navy-blue">
              <ul class="nav nav-tabs nav-justified tabu">
                <li class="active" style="cursor:pointer">
                  <a data-toggle="tab" data-target="#news">
                    Latest Posts
                  </a>
                </li>
                <!-- <li  style="cursor:pointer">
                  <a data-toggle="tab" data-target="#events">
                    Events
                  </a>
                </li>
                <li class=""  style="cursor:pointer">
                  <a data-toggle="tab" data-target="#notice-board">
                    Notice board
                  </a>
                </li> -->
              </ul>
            </header>
            <div class="panel-body">
              <div class="tab-content tasi-tab">
                <div id="news" class="tab-pane fade in active">
                  <article ng-repeat="post in posts" class="media">
                    <a class="pull-left thumb p-thumb">
                      <img src="{{base_url}}/admin_panel/api/ci_api/assets/blog_images/{{post.post_image}}" width="100%" height="333" alt=""/>
                    </a>
                    <div class="media-body b-btm">
                      <a href="#/blog-detail/{{post.post_id}}" class="p-head">
                        {{post.post_title}}
                      </a>
                      <p>
                            
                            <span  ng-bind-html="post.post_content | ellipsis:48"></span>


                      </p>
                    </div>
                  </article>
                </div>
       
            </div>
          </section>
          <!--tab end-->
        </div>
        <div class="col-lg-6">
          <br>
          <br>
          <br>
          <br>
          <!--testimonial start-->
          <div class="about-testimonial boxed-style about-flexslider ">
            <section class="slider wow fadeInRight">
              <div class="flexslider">
                <ul class="slides about-flex-slides">
                  <li>
                    <div class="about-testimonial-image ">
                      <img alt="" src="template/img/swami-vivekananda.jpg">
                    </div>
                    <a class="about-testimonial-author" href="#">
                      சுவாமி விவேகானந்தர்
                    </a>
                    <span class="about-testimonial-company">
                      பொன் மொழி
                    </span>
                    <div class="about-testimonial-content">
                      <p class="about-testimonial-quote">
                       நீ பற்றற்றிரு; மற்றவை சேவை செய்யட்டும்; மூளையின் பகுதிகள் வேலை செய்யட்டும்; ஆனால் ஓர் அலைகூட மனத்தை வெல்ல இடம் கொடுக்காதே.ஓர் அன்னியன் போலவும் வழிப்போக்கன் போலவும் வேலை செய், ஆனால் உன்னைத் தளைகளுக்கு உள்ளாக்காதே. அது அஞ்சத்தக்கது.
                      </p>
                    </div>
                  </li>
                  <li>
                    <div class="about-testimonial-image ">
                      <img alt="" src="template/img/paramahamsar.jpg">
                    </div>
                    <a class="about-testimonial-author" href="#">
                      இராம கிருஷ்ன பரமஹம்சர்
                    </a>
                    <span class="about-testimonial-company">
                      பொன் மொழி
                    </span>
                    <div class="about-testimonial-content">
                      <p class="about-testimonial-quote">
                        இல்லதருடைய கடமைகளாவன் - <br><br>
                        உயிர்களிடம் அன்பு, பக்தர்களுக்கு சேவை , கடவுளின் புனித நாம ஜெபம் ஆகியவை
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </section>
          </div>
          <!--testimonial end-->
        </div>
        </div>
      </div>





    <div id="home-services">

      <div class="container">
        <div class="row">
        

          <div class="col-md-6">
            <div class="nigalchi_div">
                
                  <h3 class="min_clr">
             ஆலயத்தில் நடைபெறும் முக்கிய நிகழ்ச்சிகள் 
            </h3>
                  <ol style="text-align:justify">  


                    <li>ஆலய பூஜை நேரம் காலை 5.30 முதல் 6.30 மணி வரை, மாலை 7.00 முதல்  8.00 வரை </li>
                    <li>செவ்வாய் , வெள்ளி, ஞாறு, பௌர்ணமி தோறும் சிறப்பு வழிபாடு </li>
                    <li>பௌர்ணமி தோறும் திருவிளக்கு பூஜை </li>
                    <li>ஆங்கில மாதத்தின் கடைசி வெள்ளிகிழமை  காலை  10.30 மணி முதல் 12 மணி வரை ராகு கால துர்க்கா பூஜை </li>
                    <li>கார்த்திகை மாதம் 1 நாட்கள் சிறப்பு வழிபாடு </li>
                    <li>ஆடி மாதம் 30 நாட்கள்  சிறு வழிபாடு </li>
                    <li>வெள்ளி கிழமை தோறும் மாலை 6 மணி முதல் 7 மணி வரை லலிதா சகஸ்ர நாம அர்ச்சனை </li>
                    <li>ஞாயிறு தோறும் காலை 10 மணி முதல் 12 மணி வரை சமய வகுப்பு </li>
                    <li>சுபா நிகழ்சிகளுக்கு மங்கள பிரார்த்தனை </li>
                    <li>ஆத்ம சாந்தி பிரார்த்தனை </li>
                    <li>வீடுகள் தோறும் குடும்ப நல பிரார்த்தனை </li>
                    <li>ஆலயத்தில்  மூன்று மாதங்களுக்கு ஒரு முறை வெளிவரும் ஆன்மீக இதழ் 'அம்மன் மலர் '</li>


                  </ol>
            </div>
          </div>






  <!--         <div class="col-md-6">
            <div class="nigalchi_div">
                
                  <h3 class="min_clr">
                    ஆலயம் அமைந்துள்ள இடம் 
            </h3>
                  


             


            </div>
          </div> -->




        </div>
        <!-- /row -->




     





      </div>
      <!-- /container -->

    </div>
    <!-- service end -->
    <div class="hr">
      <span class="hr-inner"></span>
    </div>





    <!--container end-->



       












        <script type="text/javascript">
      jQuery(document).ready(function() {


        // $('.bxslider1').bxSlider({
        //   minSlides: 5,
        //   maxSlides: 6,
        //   slideWidth: 360,
        //   slideMargin: 2,
        //   moveSlides: 1,
        //   responsive: true,
        //   nextSelector: '#slider-next',
        //   prevSelector: '#slider-prev',
        //   nextText: 'Onward →',
        //   prevText: '← Go back'
        // });



//       $('.bxslider1').bxSlider({
//   auto: true,
//   autoControls: true
// });




      });


    </script>


    <script>
      $('a.info').tooltip();

      $(window).load(function() {
        // $('.flexslider').flexslider({
        //   animation: "slide",
        //   start: function(slider) {
        //     $('body').removeClass('loading');
        //   }
        // });
      });

      $(document).ready(function() {

        // $("#owl-demo").owlCarousel({

        //   items : 4

        // });

      });

      // jQuery(document).ready(function(){
      //   jQuery('ul.superfish').superfish();
      // });

      // new WOW().init();


    </script>


    <script type="text/javascript">
      $(function() {


        $('.flexslider').flexslider({
          animation: "slide",
          start: function(slider) {
            $('body').removeClass('loading');
          }
        });



        // $('#da-slider').cslider({
        //   autoplay    : true,
        //   bgincrement : 100
        // });


        // $('.bxslider').bxSlider({
        //   auto: true,
        //   autoControls: true
        // });


        

      });
    </script>


